{% extends "base/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class = "container">
    <a name="poll"></a>
    <div class="jumbotron">
        <div class="col-md-offset-1">
            <h1>More information about Pnyx</h1>
        </div>
    </div>
    <div class="row featurette">
        <h1 class="featurette-heading text-muted">Overview</h1>
    </div>
    <p class ="lead">
		Pnyx is a user-friendly yet powerful application that supports the whole process of collective decision making (from setting up a poll/election to eliciting individual preferences to aggregating them in a reasonable way to the communication of outcomes to participants). Pnyx is based on insights that have been generated in social choice theory, but does not expect the user to possess any knowledge about the underlying aggregation rules.
    </p>	
    <div class="row featurette">
        <h1 class="featurette-heading text-muted">The features of a poll</h1>
    </div>
    <p class ="lead">
        Pnyx polls have several functional features to suit a variety of different use case scenarios while not overwhelming the user with too many customization options.
    </p>
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading text-muted">Naming and description</h2>
            <p class ="lead"><span class=" h3 featurette-heading">Name: </span>
                The name of the poll. It is used mostly for poll management purposes.
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Question: </span>
                The main question to be resolved with the poll. It is visible on the ballot.
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Description: </span>
                A description of the poll. It is visible on the ballot.
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading text-muted">Visibility</h2>
            <p class ="lead"><span class=" h3 featurette-heading">Public poll: </span>
                The poll is visible to anyone with knowledge of its unique URL. Any visitor can vote and see the results.
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Private poll: </span>
                The poll is visible only to invited participants. Each participant receives a unique link for his own ballot and can only cast one vote. In addition to invited participants the poll admin can see the results, too.
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Change vote: </span>
                For private polls this attribute allows the participants to change their votes before the closing time of the poll. By default each participant can cast his vote only once.
            </p>
            <p class="lead"><span class=" h3 featurette-heading">Temporary results: </span>
                If enabled, it allows all participants to see temporary results at any time (even before the poll ends).
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading text-muted">Timeframe</h2>
            <p class ="lead"><span class=" h3 featurette-heading">Opening time: </span>
                The opening time of the poll. No one will be able to cast a vote before this time.
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Closing time: </span>
                The closing time of the poll. No one will be able to cast a vote after this time. The final results are accessible only after the closing time has passed.
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Periodic poll: </span>
                If set, the poll will be re-run regularly without the need to explicitly recreate it. Unless participants change their votes, their previous votes will be considered as still valid. Therefore, this feature mostly makes sense for private polls where the voters can change their votes over time.
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Period: </span>
            	Periodicity of the poll.  If the period of the poll is set to <em>x</em> days, the poll will be repeated every <em>x</em> days.
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading text-muted">Input and output</h2>
            <p class ="lead">Pnyx supports a range of different preferences to be elicited from the voters as well as different output formats (see the full <a class="navbar-link" href="#input">descriptions</a> for more details). Based on these choices a suitable aggregation method will be chosen by Pnyx (see the <a class="navbar-link" href="#choice_rules">aggregation rules</a>).
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading text-muted">Alternatives</h2>
            <p class ="lead"><span class=" h3 featurette-heading">Alternative: </span>Each poll has to specify a set of feasible alternatives. Each alternative is specified by its name and an optional description.
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Tie breaking rule: </span>If required, tie breaking is performed by Pnyx according to a specified order over the alternatives. It can be defined randomly or manually by the poll creator. This tie breaking is used for every choice rule except Nash's rule, Maximal lotteries and Kemeny's rule. For Nash's rule and Kemeny's rule the tie breaking is performed during the computation by the LP solver. For maximal lotteries, the barycenter of the space of all maximal lotteries is approximated.</p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading text-muted">Participants</h2>
            <p class ="lead">
                For private polls, each participant is invited via email from Pnyx. For public polls, this is optional (alternatively the poll creator can share the public link to the poll). Pnyx furthermore provides a built-in interface for the poll admin to send emails to all participants at any time.
            </p>
            <h3> The email addresses entered will not be shared with third parties or otherwise be used for commercial purposes.<h3>
        </div>
    </div>
    <hr id = "input" class="featurette-divider">
    <div class="row featurette">
        <h1 class="featurette-heading text-muted">Input types (individual preferences)</h1>
    </div>
    <div class="row featurette">
        <div class="col-md-2">
            <img class='img-responsive' class='img-responsive' class="thumbnail" src= "{% static 'polls/images/input_most_pref.png' %}" height="150 " width="150" alt="">
        </div>
        <div class="col-md-9">
            <p class ="lead"><span class=" h3 featurette-heading">Most preferred alternative: </span>
                The voter can only select a unique most-preferred alternative among all candidates. Due to the severe restrictedness of this type of input, it is recommended to at least allow voters to approve an arbitrary number of alternatives (see below).
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-2">
            <img class='img-responsive' class='img-responsive' class="thumbnail" src= "{% static 'polls/images/input_dicot.png' %}" height="150 " width="150" alt="">
        </div>
        <div class="col-md-9">
            <p class ="lead"><span class=" h3 featurette-heading">Approved alternatives: </span>
                The voter may approve an arbitrary number of alternatives and automatically disapproves the remaining ones. There is no distinction between alternatives within the set of approved or non-approved alternatives, respectively. Such preferences are sometimes called dichotomous preferences.
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-2">
            <img class='img-responsive' class='img-responsive' class="thumbnail" class="thumbnail" src= "{% static 'polls/images/input_borda.png' %}" height="150 " width="150" alt="">
        </div>
        <div class="col-md-9">
            <p class ="lead"><span class=" h3 featurette-heading">Rankings without ties: </span>
                Each voter has to rank all alternatives and the ballot may not contain ties between alternatives.
				Such preferences are sometimes called strict total orders or linear preferences.
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-2">
            <img class='img-responsive' class='img-responsive' class="thumbnail" src= "{% static 'polls/images/input_partial_borda.png' %}" height="150 " width="150" alt="">
        </div>
        <div class="col-md-9">
            <p class ="lead"><span class=" h3 featurette-heading">Rankings with ties: </span>
                This input format is a generalization of "rankings without ties" where now ties between alternatives are allowed.
                Such preferences are sometimes called complete preorders or bucket preferences.
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-2">
            <img class='img-responsive' class='img-responsive' class="thumbnail" src= "{% static 'polls/images/input_complete.png' %}" height="150 " width="150" alt="">
        </div>
        <div class="col-md-9">
            <p class ="lead"><span class=" h3 featurette-heading">Pairwise comparisons: </span>
                This is the most general form of preferences supported by Pnyx. The voter may specify each individual pairwise comparison among alternatives.
                By default, indifference between any pair is assumed. Note that transitivity of the preferences is no longer required.
            </p>
        </div>
    </div>
    <hr id = "output" class="featurette-divider">
    <h1 class="featurette-heading text-muted">Output types (collective choices)</h1>
    <div class="row featurette">
        <div class="col-md-12">
            <p class ="lead"><span class=" h3 featurette-heading">Unique winner: </span>
                The result of the poll is a unique best alternative.
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <p class ="lead"><span class=" h3 featurette-heading">Lottery: </span>
                The result of the poll is represented by a probability distribution over the alternatives. 
				This output format allows for particularly nice aggregation rules with good theoretical properties. 
                Note that it is also a suitable format when a divisible resource should be allocated/shared (e.g., a meeting room), where then the probabilities stand for shares of the resource.
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <p class ="lead"><span class=" h3 featurette-heading">Rankings without ties: </span>
                The collective preferences are provided in the form of a complete ranking of all alternative without ties. 
				This can also be interpreted as a collective order of preference over the alternatives. 
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-3 col-md-offset-2">
            <img class='img-responsive' class='img-responsive' class="thumbnail" src= "{% static 'polls/images/output_alternative.png' %}" height="150 " width="150" alt="">
        </div>
        <div class="col-md-3">
            <img class='img-responsive' class='img-responsive' class="thumbnail" src= "{% static 'polls/images/output_lottery.png' %}" height="150 " width="150" alt="">
        </div>
        <div class="col-md-3">
            <img class='img-responsive' class='img-responsive' class="thumbnail" class="thumbnail" src= "{% static 'polls/images/output_ranking.png' %}" height="150 " width="150" alt="">
        </div>
    </div>
    <hr id = "choice_rules" class="featurette-divider">
    <h1 class="featurette-heading text-muted">Aggregation rules</h1>
    <div class="row featurette">
        <div class="col-md-12">
            <p class ="lead">
                After the successful collection of preferences of all voters, the preferences are aggregated into a single collective preference of the group.
                For this an aggregation rule depending on the desired input &amp; output types is applied.
            </p>
            <p class ="lead">
                Since Pnyx aims to keep things simple for the user, the aggregation rules to be used have been preselected based on scientific insights.
            </p>
            <p class ="lead">
                The following table gives an overview of the implemented aggregation rules and for which combination of input and output which rule is applied.</p>
            <br>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-hover lead">
                <tr>
                    <th class="col-md-2"></th>
                    <th class="col-md-3">Most preferred alternative</th>
                    <th class="col-md-3">Approved alternatives</th>
                    <th class="col-md-2">Rankings without ties</th>
                    <th>Rankings with ties</th>
                    <th>Pairwise comparisons</th>
                </tr>
                <tr>
                    <th>Unique winner</th>
                    <td>Borda’s rule<br>(= plurality winner)</td>
                    <td>Borda’s rule<br>(= approval winner)</td>
                    <td style="letter-spacing: 6px;" colspan="3" class="text-center">Borda's rule</td>
                </tr>
                <tr>
                    <th>Lottery</th>
                    <td>Fishburn's rule<br>(= plurality lottery)</td>
                    <td>Fishburn's rule<br>(= approval lottery)</td>
                    <td style="letter-spacing: 6px;" colspan="3" class="text-center spaced">Fishburn's rule</td>
                </tr>
                <tr>
                    <th>Ranking without ties</th>
                    <td>Kemeny's rule<br>(= plurality ranking)</td>
                    <td>Kemeny's rule<br>(= approval ranking)</td>
                    <td style="letter-spacing: 6px;" colspan="3" class="text-center spaced">Kemeny's rule</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <br>
            <p class ="lead"><span class=" h3 featurette-heading">Borda's rule: </span>
				Borda’s rule is a simple scoring rule that is particularly intuitive when preferences are rankings without ties [3]: each alternative receives from 0 to <em>m</em> - 1 points from each voter (depending on the position the alternative is ranked in), where <em>m</em> is the total number of alternatives. The alternative with the highest accumulated score wins. For more general cases, we consider a natural extension of Borda’s rule to arbitrary binary relations where the score each voter assigned to alternative <em>x</em> is the number of alternatives that <em>x</em> is preferred to minus the number of alternatives that are preferred to <em>x</em>. (see also <a href="http://en.wikipedia.org/wiki/Borda_count">Wikipedia</a>)
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Fishburn's rule: </span> 
				The rule that we call Fishburn’s rule was first considered by Kreweras [7] and independently rediscovered and studied in much more detail by Fishburn [5]. The rule returns a so-called maximal lottery, i.e., a lottery over the alternatives that is weakly preferred to any other lottery. Maximal lotteries are equivalent to mixed maximin strategies (or Nash equilibria) of the symmetric zero-sum game given by the pairwise majority margins, which allows us to use linear programming for their computation (see, e.g., Algorithm 1 by Brandt and Fischer [2]). For more details, we refer to Brandl et al. [1]. (see also <a class="text-muted" href="http://en.wikipedia.org/wiki/Maximal_lotteries">Wikipedia</a>)
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Kemeny's rule: </span>
                Kemeny’s rule [6] is an aggregation rule that returns a ranking of the alternatives that maximizes pairwise agreement, i.e., a ranking in which as many pairwise comparisons as possible coincide with the preferences of the voters. Alternatively, Kemeny’s rule can be characterized using maximum likelihood estimation [8] or a consistency property for electorates of variable size [9]. We implemented the NP-hard problem of finding a Kemeny ranking via integer programming (following a formulation of Conitzer et al. [4]). (see also <a href="http://en.wikipedia.org/wiki/Kemeny-Young_method">Wikipedia</a>)
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Plurality scores: </span>
                The plurality score of an alternative simply denotes the number of votes (recall that in this column each voter may only vote for a single alternative) an alternative receives. (see also <a href="http://en.wikipedia.org/wiki/Plurality_voting_system">Wikipedia</a>)
            </p>
            <p class ="lead"><span class=" h3 featurette-heading">Approval voting scores: </span>
                Each voter may "approve" (i.e., select) as many alternatives as desired. The approval score of an alternative then is the cumulative number of approval votes it receives. (see also <a href="http://en.wikipedia.org/wiki/Approval_voting">Wikipedia</a>)
            </p>
	        <p class="body text-muted"><span class="lead featurette-heading">References: </span>
				<br>
			[1] F. Brandl, F. Brandt, and H. G. Seedig. Consistent probabilistic social choice. 2015. Working paper.<br>
			[2] F. Brandt and F. Fischer. Computing the minimal covering set. Mathematical Social Sciences, 56(2):254–268, 2008.<br>
			[3] C. de Borda. Memoire sur les Elections au Scrutin. Histoire de l’Academie Royale des Sciences, 1784.<br>
			[4] V. Conitzer, A. Davenport, and J. Kalagnanam. Improved bounds for computing Kemeny rankings. In Proceedings of the 21st National Conference on Artificial Intelligence (AAAI), pages 620–627. AAAI Press, 2006.<br>
			[5] P. C. Fishburn. Probabilistic social choice based on simple voting comparisons. Review of Economic Studies, 51(4):683–692, 1984.<br>
			[6] J. G. Kemeny. Mathematics without numbers. Daedalus, 88:577–591, 1959.<br>
			[7] G. Kreweras. Aggregation of preference orderings. In Mathematics and Social Sciences I: Proceedings of the seminars of Menthon-Saint-Bernard, France (1–27 July 1960) and of Gösing, Austria (3–27 July 1962), pages 73–79, 1965.<br>
			[8] H. P. Young. Optimal voting rules. Journal of Economic Perspectives, 9(1):51–64, 1995.<br>
			[9] H. P. Young and A. Levenglick. A consistent extension of Condorcet’s election principle. SIAM Journal on Applied Mathematics, 35(2):285–300, 1978.
			</p>
        </div>
    </div>
    <hr id = "team" class="featurette-divider">
    <div class="row featurette">
        <h1 class="featurette-heading text-muted">About us</h1>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <p class ="lead">
				Pnyx will be demonstrated at <a href="http://aamas2015.com/">AAMAS 2015</a> in Istanbul and there is a short demonstration paper to be found <a href="http://dss.in.tum.de/files/brandt-research/pnyxdemo.pdf">here (draft)</a>.
			</p>
			<p class ="lead">
                This project is run by the chair for <a href="http://dss.in.tum.de/">Decision Sciences &amp; Systems</a> at <a href="http://www.tum.de/">Technische Universität München</a>:
            </p>
            <!-- <a class="btn btn-default btn-lg pull-right" href="mailto:team.pnyx@gmail.com">Contact us</a> -->
        </div>
    </div>
        <div class="col-md-4 text-center">
            <img class="img-thumbnail" src="{% static 'about/brandt.png' %}" style="width: 133px; height: 200px;">
                <h3 class='featurette-heading'><a href="http://dss.in.tum.de/staff/brandt.html">Prof. Dr. Felix Brandt</a></h3>
                <p ><a href="http://in.tum.de/">Technische Universität München</a></p>
                </div><!-- /.col-md-4 -->
<div class="col-md-4 text-center">
    <img class = 'img-thumbnail'src="{% static 'about/geist.png' %}"  style="width: 133px; height: 200px;">
        <h3 class="featurette-heading"><a href="http://dss.in.tum.de/staff/geist">Christian Geist, M.Sc.</a></h3>
        <p ><a href="http://in.tum.de/">Technische Universität München</a></p>
        </div><!-- /.col-md-4 -->
<div class="col-md-4 text-center">
    <img  class = 'img-thumbnail' src="{% static 'about/chabin.png' %}" style="width: 133px; height: 200px;">
        <h3 class="featurette-heading">Guillaume Chabin</h3>
        <p ><a href="http://in.tum.de/">Technische Universität München</a></p>
        <p ><a href="http://www.telecom-paristech.fr/eng">Telecom ParisTech</a></p>
        </div><!-- /.col-md-4 -->
</div><!-- /.row -->
{%  endblock %}