{% extends "base/base.html" %}
{% load staticfiles %}
{% load static %}


{% block head %}
    <style>
        #sortable  .ui-state-default .ui-widget-content {background: white; margin: 0.5em;}
        #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ poll.name }}</h1>
                <p>Please specify your preferred order. <strong>Ties are not allowed</strong>.
                    Drag and drop the alternative at the desired position</p>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2>{{ poll.question }}</h2>
                        {% if poll.description %}<p>{{ poll.description }}</p>{% endif %}
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <img class='img-responsive' src="{% static 'polls/images/input_borda.png' %}" height="150 " width="150" >
                    </div>
                </div>
                {%  if ballot_data %}
                    <div class="row">
                        <div class="col-md-12">
                            <p>You already voted. Every new submission will override the previous vote.</p>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" role = "form" action="{% url 'vote:vote' poll.id voter_uuid%}" method="post">
                            {% csrf_token %}
                            {% if error_message %}
                                <div class="form-group">
                                    <p><strong>{{ error_message }}</strong></p>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="container" id="sortable">
                                    {% if ballot_data  %}
                                        {% for rank, alternative_list in ballot_data.items %}
                                            {% for alternative in alternative_list %}
                                                <div class="row ui-state-default" id="{{ alternative.pk }}">
                                                    <div class="col-sm-7 ui-widget-content">
                                                        <p><span class="glyphicon glyphicon-resize-vertical"></span> <strong>{{ alternative.name }} {% if alternative.description %}: {{ alternative.description }}{% endif %}</strong></p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        {# init the ballot #}
                                        {% for alternative in poll.alternative_set.all %}
                                            <div class="row ui-state-default" id="{{ alternative.pk }}">
                                                <div class="col-sm-7 ui-widget-content">
                                                    <p><span class="glyphicon glyphicon-resize-vertical"></span> <strong>{{ alternative.name }} {% if alternative.description %}: {{ alternative.description }}{% endif %}</strong></p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {%  endif %}

                                </div>
                            </div>
                            <div id="hidden-choice">
                                {#  contains all hidden input for each alternative selected #}
                                {% if ballot_data  %}
                                    {% for rank, alternative_list in ballot_data.items %}
                                        {% for alternative in alternative_list %}
                                            <input type="hidden" name ="choice_{{ rank }}" value="{{ alternative.pk }}">
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    {# init if the voter votes without changing the order #}
                                    {% for alternative in poll.alternative_set.all %}
                                        <input type="hidden" name = "choice_{{ forloop.counter }}" value="{{ alternative.pk }}">
                                    {% endfor %}
                                {%  endif %}
                            </div>
                            <input type="submit" class="btn btn-primary" value="Vote">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script type="text/javascript" src="{% static 'jquery/js/jquery-ui-1.11.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/js/jquery-ui-touch-punch.js' %}"></script>
    <script>
        $(function() {
            $( "#sortable" ).sortable({

                stop: function() {
                    $( "#hidden-choice > input").remove( );
                    $( ".ui-state-default", this ).each(function(index) {
                        var value = $(this).attr('id') ;
                        index = parseInt(index) +1
                        if (value != null ) {
                            $('<input>').attr({
                                type: 'hidden',
                                name: 'choice_' + index,
                                value: value
                            }).appendTo('#hidden-choice');
                        }
                    });
                }
            });
            $( "#sortable" ).disableSelection();
        });
    </script>
{% endblock %}