{% extends "base/base.html" %}
{% load staticfiles %}



{% block content %}
    <div class = "container">

    <div class="jumbotron">
        <div class="col-md-offset-1">
            <h1>Thanks, your vote has been submitted</h1>
            <p>The results will be published on: {{ poll.closing_date|date:"d/m/Y" }}, {{ poll.closing_date|time:"H:i" }}:
                <a type="button" class="navbar-link" href="{%  url 'vote:results' poll.pk  voter_uuid %}">link</a>, or
                <a id = "copy_button" type="button" class="navbar-link" >Copy to Clipboard</a><br>
            </p>
            <p id="text_to_copy">{{ protocol}}://{{ domain }}{%  url 'vote:results' poll.pk  voter_uuid %}</p>
            {% if poll.temporary_result %}
                <p>You can see the temporary results
                    <a type="button" class="navbar-link" href="{%  url 'vote:temp_results' poll.pk  voter_uuid %}">here</a>
                </p>
            {% endif %}
            <a type="button" class="btn btn-primary" href="{%  url 'polls:index' %}">Getting started with Pnyx</a>
        </div>
    </div>
{%  endblock %}

{% block js_block %}
    <script type="text/javascript" src="{% static 'jquery/js/jquery.zclip.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(document.getElementById('copy_button')).zclip({
                path:"{% static 'jquery/js/ZeroClipboard.swf' %}",
                copy: document.getElementById('text_to_copy').textContent
            });
            // The link with ID "copy-description" will copy
            // the text of the paragraph with ID "description"
        });
    </script>
{% endblock %}
