{% extends "base/base.html" %}


{% block content %}
    <div class = "container">
        <h1>Enter the new settings</h1>
        <div class="jumbotron">
            <div class="col-md-offset-1">
                <form method="post" role = "form" action="{% url 'polls:setup' poll_uuid %}">
                    {% csrf_token %}
                    {% if set_up_poll_form.non_field_errors %}
                        <div class="form-group">
                            <p><strong>{{ set_up_poll_form.non_field_errors }}</strong></p>
                        </div>
                    {% endif %}
                    <h2 class="text-muted">Name &amp; description of the poll</h2>
                    <div class="form-group">
                        <label class="control-label" for="id-poll_name">Name of the poll</label>
                        <input type="text" class="form-control" id="id-poll_name" name="poll_name" value= "{{ set_up_poll_form.poll_name.value }}">
                        {% if set_up_poll_form.poll_name.errors %}<p><strong>{{ set_up_poll_form.poll_name.errors }}</strong></p>{% endif %}
                    </div>
                    <div class="form-group">
                        {% if set_up_poll_form.poll_description.errors %}<p><strong>{{ set_up_poll_form.poll_description.errors }}</strong></p>{% endif %}
                        <label class="control-label" for="id_poll_description">Description</label>
                        <textarea class="form-control" rows="3" id="id_poll_description" name="poll_description">{{ set_up_poll_form.poll_description.value }}</textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default pull-right" value="Save">
                        <a class="btn btn-default" href="{% url 'polls:detail' poll_uuid %}" role="button"> &laquo; Back</a>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}