{% extends "base/base.html" %}
{% load staticfiles %}



{% block content %}
    <div class = "container">

    <div class="jumbotron">
        <div class="col-md-offset-1">
            <h1>Preference Profile of the poll: {{ poll.name }}</h1>
            <p>Here is the preference profile under <a href="http://www.preflib.org/">PrefLib</a> standards</p>
            <p>
                {{ alternative_set|length }}<br>
                {% for alt in alternative_set %}
                    {{ forloop.counter }},{{ alt.name }}<br>
                {%  endfor %}
                {{ nb_voter }}, {{ nb_vote }}, {{ nb_unique_order }}<br>
                {% for pref in pref_lib %}
                    {{ pref }}<br>
                {% endfor %}
            </p>
            <a type="button" class="btn btn-primary" href="{%  url 'polls:detail' poll.uuid %}">Back poll's details</a>
        </div>
    </div>
    <p>
        The format for the election data is the following:
    <p>Number of Candidates <br>
    1, Candidate Name <br>
    2, Candidate Name <br>
    ... <br>
    Number of Voters, Sum of Vote Count, Number of Unique Orders<br>
    count, preference list. (12,1,2,{3,4}). A strict ordering is indicated by a comma (,) and elements that are indifferent are grouped with a ({ }).<br>
    count, preference list. (12,1,2,3,4). A strict ordering is indicated by a comma (,) and elements that are indifferent are grouped with a ({ }).<br>
    ...<br>
    </p>
    <p>
        For more information please refer to
        <a type="button" class="navbar-link" href="http://www.preflib.org/">{PrefLib}</a>'s website.
    </p>

{%  endblock %}
