{% extends "base/base_signin.html" %}

{% load staticfiles %}
{% load static %}

{% block carousel %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!--
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img class='img-responsive' src= "{% static 'pnyx/images/slide.png' %}" " alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>A user-friendly preference aggregation tool</h1>
                        <p>Pnyx is a web-based application that allows you to aggregate preferences in a very intuitive way. Create your poll, invite participants and aggregate their preferences.</p>
                        <p><a class="btn btn-primary" href="{% url 'register' %}" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class='img-responsive' src= "{% static 'pnyx/images/slide.png' %}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>A well-suited poll in every situation</h1>
                        <p>Pnyx supports 5 different preference types and 3 different representations of the aggregation.
                        Every poll extracts the real collective preference as much as possible. </p>
                        <p><a class="btn btn-primary" href="{% url 'about' %}#input" role="button">Learn more about Pnyx</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class='img-responsive' src= "{% static 'pnyx/images/slide.png' %}" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>A scientific approach</h1>
                        <p>Pnyx is based on the social choice theory. The choice rules aggregating the preferences have been selected based on scientific works to provide the  most relevant methods and to make Pnyx a powerful toll.
                        <p><a class="btn btn-primary" href="{% url 'about' %}#choice_rules" role="button">Learn more about the choice rules</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    -->
{%  endblock %}

{% block content %}
    <div class="container">
    <!-- START THE FEATURETTES -->
        <div class="row featurette">
            <div class="col-md-12">
                <img class='img-responsive' src= "{% static 'pnyx/images/slide.png' %}" alt="Second slide">
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">An easy to use <span class="text-muted">aggregation tool</span></h2>
                <p class ="lead">Pnyx is a web-based application that allows you to collect and aggregate the preferences of several persons.
                    Unlike existing solutions, Pnyx aims to be easy to use and to optimize the user experience.
                    Pnyx allows you to easily create and manage polls and get in contact with the participants.</p>
                <p class ="lead">Sign up in just 1 step to create your first poll. The voters will not need an account and Pnyx provides an intuitive voting interface.</p>
				<div class="col-md-12">
                	<a href="{% url 'register' %}" class="btn btn-primary pull-right" role="button">1-step registration</a>
				</div>
			
            </div>
			
	        <div class = "col-md-4 col-md-offset-1">
	            {% if form.errors %}
	                <p>Your username and password didn't match. Please try again.</p>
	            {% endif %}

	            <form class="form-signin" role="form" method="post" action="{% url 'login' %}">
	                {% csrf_token %}
	                <h2 class="featurette-heading">Already registered? <span class="text-muted">Then please sign in</span></h2>
	                <br>
	                <input id="id_username" class="form-control" maxlength="254" placeholder="Username" name="username" type="text" required autofocus/>
	                <input id="id_password" class="form-control" name="password" type="password" placeholder="Password" required/>
	                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
	                <a href="{% url 'password_reset' %}" class="btn btn-link pull-right" role="button">Forgot your password?</a>
	            </form>
	        </div>
			
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-3">
                <img class="featurette-image img-responsive" src= "{% static 'pnyx/images/sewing.png' %}" alt="">
            </div>
            <div class="col-md-9">
                <h2 class="featurette-heading">A well-suited poll <span class="text-muted">in every situation</span></h2>
                <p class="lead">It is important that the preference aggregation suits the demands of the poll creator as much as possible.
                    Therefore Pnyx allows you to customize your poll by choosing the type of preferences required from the voters as well as the type of output.</p>
                <p class ="lead">Voters can either specify a unique most preferred alternative,
                   dichotomous preferences, a linear order of preferences,
                   a complete preorder or a complete binary relation.
                   Pnyx can compute the best alternative, a lottery, or a ranking that represents the collective preferences.</p>
                <div class="col-md-12">
					<a href="{% url 'about' %}#poll" class="btn btn-primary pull-right" role="button">Learn more about Pnyx</a></p>
				</div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-9">
                <h2 class="featurette-heading">Powerful <span class="text-muted">aggregation tool</span></h2>
                <p class="lead">Pnyx is not only a user-friendly application but also a powerful aggregation tool.
                    Pnyx is based on insights from social choice theory and automatically selects the most appropriate choice rule depending on the combination of input and output types specified by the user.</p>
					<p class="lead">Pnyx also supports periodic polls (for instance, lunch polls that are conducted daily before lunchtime), for which voters only need to update their preferences if desired.</p>
                <div class="col-md-12">
					<a href="{% url 'about' %}#choice_rules" class="btn btn-primary pull-right" role="button">Learn more about the choice rules</a></p>
				</div>	
            </div>
            <div class="col-md-3">
                <img class="featurette-image img-responsive" src= "{% static 'pnyx/images/powerful.png' %}"  alt="">
            </div>
        </div>


        <!-- /END THE FEATURETTES -->

    </div>
{% endblock %}
