{% extends "base/base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                    <form id="reset_password_form" class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                        <h3 class="form-signin-heading">Please enter your email address</h3>
                        {% if form.errors %}
                            <p>You did not fill the form correctly. Please try again.</p>
                        {% endif %}
                         <input id="id_email" class="form-control" maxlength="254" name="email" type="email" />
                        <button class="btn btn-primary btn-block" type="submit">Send reset link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}