{% extends "base/base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">

                <div class="col-md-6 col-md-offset-4">
                    <form id="change_password_form" class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                        <h2 class="form-signin-heading">Change your password</h2>
                        {% if form.errors %}
                            <p>You did not fill the form correctly. Please try again.</p>
                        {% endif %}
                        <input id="id_old_password" class="form-control" name="old_password" type="password" placeholder="Old password" required/>
                        <input id="id_new_password1" class="form-control"  name="new_password1" type="password" placeholder="New password" required/>
                        <input id="id_new_password2" class="form-control" name="new_password2" type="password" placeholder="Confirm new password" required/>
                        <button class="btn btn-primary btn-block" type="submit">Change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}